.Sidebar {
  display: grid;
  grid-area: s;
}

.Navigation {
  margin-top: 100px;
}

.navigation-links {
  display: block;
  text-align: left;
  margin-bottom: 12px;
  margin-left: 4px;
}

.navigation-links a {
  color: rgb(255, 255, 255);
}

.navigation-links-active {
  max-width: max-content;
  border-bottom: 2px solid #e5e5e5;
}

.input_search {
  border: 1px solid #4d677c;
  border-radius: 4px;
  background-color: #507490;
  max-height: 27px;
  max-width: 320px;
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.search-form-txt {
  padding: 0 10px;
  display: block;
  width: 320px;
  font-family: inherit;
  font-weight: 400;
  color: #e5e5e5;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-form-image {
  border-radius: 2px;
  margin-right: 1px;
}

.section_title {
  color: rgb(229, 229, 229);
  font-size: 13px;
  margin-bottom: 8px;
}
